.tweet {
    display: none;
}

:root {
  --underline-height: .5em;
  --transition-duration: .5s;
}

body {
  font-family: system-ui, sans-serif;
  background: whitesmoke;
  min-height: 100vh;
}

nav {
  position: relative;
  white-space: nowrap;
  background: white;
  padding: var(--underline-height) 0;
  margin: 2em 0;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
}
.sdvig {
  --transition-duration: .0s;
}
.underline {
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: var(--underline-height);
  width: 14.28%;
  background: black;
  pointer-events: none;
  mix-blend-mode: multiply;
  -webkit-transition: -webkit-transform var(--transition-duration) ease-in-out;
  transition: -webkit-transform var(--transition-duration) ease-in-out;
  transition: transform var(--transition-duration) ease-in-out;
  transition: transform var(--transition-duration) ease-in-out, -webkit-transform var(--transition-duration) ease-in-out;
}

.underline:nth-child(1) {
  background: yellow;
  -webkit-transition: calc(var(--transition-duration) * .8);
  transition: calc(var(--transition-duration) * .8);
}
.underline:nth-child(2) {
  background: rgb(255, 38, 0);
  -webkit-transition: calc(var(--transition-duration) * 1.2);
  transition: calc(var(--transition-duration) * 1.2);
}
.underline:nth-child(3) {
  background: rgb(255, 38, 0);
}

a {
  display: inline-block;
  z-index: 10;
  width: 14%;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none!important;
  color: black!important;
}

nav.black .underline {
  background: #222;
  border-radius: .25em;
  height: calc(var(--underline-height) / 2);
  mix-blend-mode: initial;
}

nav.full {
  font-weight: bold;
  background: #111;
  color: white;
}
nav.full .underline {
  height: 100%;
  background: gold;
}

nav.retro .underline {
  border-radius: 100% 100% 0 0;
}
nav.retro .underline:nth-child(1) {
  background: gold;
}
nav.retro .underline:nth-child(2) {
  background: rgb(255, 38, 0);
}
nav.retro .underline:nth-child(3) {
  background: tomato;
}


.imgStory {
  padding-right: 15px;
}
.imgStoryRight {
  padding-left: 15px;
}
.imgSponsor {
  padding-right: 15px;
  width: 200px;
}
button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}
.sponsor {
  padding-bottom: 30px;
}
.sponsor-description {
  margin-left: 215px!important;
}
button {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-right: 0;
}
button.red {
  display: block;
  width: 350px;
  color: rgb(255, 136, 0);
  margin-bottom: 30px;
  margin-top: 20px;
}

.btn-newStory {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-bottom: 20px;
}


.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 15px;
  overflow: hidden;
}

#overlay {
  padding-top: 30px;
  position: fixed; /* Sit on top of the page content */
  display: block; 
  top: 0;
  left: 0;
  padding-left: 10px;

  
    height: 80%;
    overflow: auto;
}
.hh {
  margin-bottom: 20px;
}

.imgLogo10 {
  padding: 80px;
}